body {
    background-color: #231f20;
}

.card {
  background: #fff;
  border-radius: 2px;
  padding: 1rem;
  position: relative;
  box-sizing: border-box;
  box-shadow: 0 3px 6px #999, 0 3px 6px #999;
  text-align: center;
  margin: 1rem;
}

.card > .img-container {
  overflow: hidden;
  text-align: center;
  background: green;
  padding-top: 5px;
  padding-bottom: 5px;
}


